 * {
     margin: 0;
     box-sizing: border-box;
     
 }

 body {
    background-color: #000000;
 }
.App {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: calc(100vh - 80px);
    /* align-items: center; */
    margin-top: 1rem;
  }
  
  .left {
    background-color: #2A2A57;
    color: #d8d8d8;
    border: solid 2px #d8d8d8;
  }
  
  .right {
    background-color: #d8d8d8;
    color: #2A2A57;
  }

  body {
      padding: 0;
  }

  .menu-list {
      list-style: none;
      margin: 0;
      text-align: center;
  }

  .counter-box {
    background-color: #2A2A57;
    color: #d8d8d8;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
   .App {
      flex-direction: row;
    }
  }